{% extends 'base.html.twig' %}

{% block body %}

<section class="row article">
    <article class="col-md-3 mw-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 20/04/2022 à 19:39 dans la catégorie Politique</div>
        <div class="content">
            <img src="https://picsum.photos/250/150" alt="image de l'article">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ratione, exercitationem corrupti enim labore rerum optio inventore omnis temporibus sunt! Eum eveniet saepe magni debitis non pariatur voluptates repellendus nam?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ratione, exercitationem corrupti enim labore rerum optio inventore omnis temporibus sunt! Eum eveniet saepe magni debitis non pariatur voluptates repellendus nam?</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</section>


{% endblock %}