{% extends "base.html.twig" %}

{% block body %}

    <section class="row article">
        <article class="col-md-3 mx-auto text-center border border-dark my-3 p-3">
            <h2>Titre de l'article</h2>
             <div class="metadata">Ecrit le 05/07/2023 à 12:05 dans la catégorie Politique</div>
            <img src="https://picsum.photos/250/150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi impedit perferendis assumenda culpa placeat asperiores earum deserunt, blanditiis quo exercitationem rerum repudiandae! Ea est labore animi iure obcaecati cupiditate?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic quos minus tenetur voluptatem sapiente iste quasi, porro totam nulla unde optio tempore, sed repellat magni voluptas a nobis repudiandae facere.</p>
        </article>
    </section>



{% endblock %}